* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: 220, 100%, 70%;
  --primary-color-hover: 220, 100%, 72%;

  --background-color: 0, 0%, 100%;
  --text-primary: 230, 14%, 8%;

  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Space Grotesk", sans-serif;
}

.dark {
  --primary-color: 220, 100%, 80%;
  --primary-color-hover: 220, 100%, 72%;

  --background-color: 230, 14%, 8%;
  --text-primary: 0, 0%, 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  background-color: hsl(var(--background-color));
  color: hsl(var(--text-primary));
}

img {
  width: 100%;
  height: auto;
}

a:not(.button-base) {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;

  &:hover {
    color: hsl(var(--primary-color));
  }
}
